<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header', {pagina: 'Sobre', teste :'kkk'}); %>

        <main>
            <div class="corpo">
                <h1>Sobre mim</h1>
                <p>Oi sou o Rodrigo e estou estudando express + EJS</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>

</html>